@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ActivityPage>
@using ContentModels = Hakaton.SlobodaNemaCenu.Web.Models.Generated;
@{
    Layout = "_Layout.cshtml";

    string dayStr = @Model.Date.Day.ToString();
    if (dayStr.Length == 1)
    {
        dayStr = "0" + dayStr;
    }

    string monthStr = @Model.Date.Month.ToString();
    if (monthStr.Length == 1)
    {
        monthStr = "0" + monthStr;
    }

    string yearStr = @Model.Date.Year.ToString();
}



<main class="main blog">
      <section class="blog-tags">
        <div class="wrap">
          <div class="related-news__tags">
                <span class="related-news__tag date">@dayStr/@monthStr/@yearStr</span>
            <span class="related-news__tag place">@Model.Category</span>
          </div>
        </div>
      </section>
    @Html.GetBlockListHtml(Model.PageContent)
</main>